
button {
    margin: 10px;
    background: rgb(0, 204, 255);
    border-block-end-color: blue;

}

.left {
    float: left;
    width: 250px;
    margin: 30px;
    object-fit: contain;
}

.container {
    background-color: rgb(4, 119, 233);

}

h1 {
    margin-right: 450px;
    margin-left: 450px;
}